{{$scratch := newScratch}}

{{if .subsection}}
    {{$scratch.Set "subsection" (printf "-%s" .subsection)}}
{{end}}

{{/*  {{if eq .data.type "image"}}

{{else if eq .data.type "image"}}

{{end}}  */}}

{{if or (eq .data.type "image") (eq .data.type "video") }}
    {{if hasPrefix .data.link "http"}}
        <a href="{{ .data.link }}" class="glightbox" data-gallery="{{.section}}{{$scratch.Get "subsection"}}" data-title="{{.data.title}}" data-type="{{.data.type}}">{{ .data.title }}</a>
    {{else}}
        <a href="{{.Site.BaseURL}}/{{ .data.link }}" class="glightbox" data-gallery="{{.section}}{{$scratch.Get "subsection"}}" data-title="{{.data.title}}" data-type="{{.data.type}}">{{ .data.title }}</a>
    {{end}}
{{else}}
    <a href="{{ .data.link }}">{{ .data.title }}</a>
{{end}}