{{$publications := .Site.Data.main.publications}}

<div id="publications" class="mb-5">
  {{ partial "main/heading.html" $publications }}

  {{ range $publications.categories }}

      <div class="category mb-4">
          <h5 class="mb-3">{{ .categoryTitle }}</h5>

          <div class="pub-items">
            {{ range .items }}
              <div class="pub-item mb-3">
                <h6 class="mb-0"><span class="text-primary">
                  <strong>{{ partial "main/link-generator.html" (dict "section" "publications" "subsection" "item" "data" .) }}</strong>
                </span></h6>
                <p class="text-secondary mb-1">{{ .source | safeHTML }}</p>

                {{ with .docs }}
                  <h6>Related Media</h6>
                  <ul>
                  {{ range . }}
                    <li>
                      <strong>{{ partial "main/link-generator.html" (dict "section" "publications" "subsection" "doc" "data" .) }}</strong>
                    </li>
                  {{ end }}
                  </ul>
                {{ end }}

                {{ with .refs }}
                  <h6>Reference(s)</h6>
                  <ul>
                  {{ range . }}
                    <li>
                      <strong>{{ partial "main/link-generator.html" (dict "section" "publications" "subsection" "ref" "data" .) }}</strong>
                    </li>
                  {{ end }}
                  </ul>
                {{ end }}

                <div class="separator"></div>
              </div>
            {{ end }}
          </div>
      </div>
  {{ end }}
</div>