{{$skills := .Site.Data.main.skills}}

<div id="skills" class="mb-5">
  {{ partial "main/heading.html" $skills }}

  {{ range $skills.skills.categories }}
    <div class="category mb-3">
      <h5 class="mb-1">{{ .title }}</h5>

      {{ delimit .list ", " }}
    </div>
  {{ end }}

  {{/*  {{ range $skills.bars }}
  <div class="progress-wrapper mb-3">
    <div class="progress-info">
        <div class="progress-percentage">
            <span class="font-weight-bold">{{.title}}</span>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="{{.level}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.level | safeCSS}};"></div>
    </div>
  </div>
  {{end}}  */}}
</div>