{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for category in projects.categories %}
    <h4 class="category-name">{{category.name}}</h4>

    <div class="category-section">
      {% for project in category.assignments %}
      
        <div class="item">
          <span class="project-title">
            {% if project.link %}
              {% if project.link contains "http" %}
              <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
              {% else %}
              <a href="{{ site.baseurl }}/assets/{{ project.link }}" target="_blank">{{ project.title }}</a>
              {% endif %}
            {% else %}
            {{ project.title }}
            {% endif %}
          </span>

          {% if project.tagline %}
          - <span class="project-tagline">{{ project.tagline }}</span>
          {% endif %}

          {% if project.links %}
            {% for sublink in project.links %}
              {{ sublink | inspect }}
              {% if sublink.link contains "http" %}
              <a href="{{ sublink.link }}" target="_blank">{{ sublink.title }}</a><br />
              {% else %}
              <a href="{{ site.baseurl }}/assets/{{ sublink.link }}" target="_blank">{{ sublink.title }}</a><br />
              {% endif %}
            {% endfor %}
          {% endif %}

        </div><!--//item-->
      {% endfor %}
    </div><!--//category-section-->
  {% endfor %}

</section><!--//section-->
{% endif %}
