{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 id="pubs" class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for category in publications.categories %}
  <h4 class="category-name">{{category.name}}</h4>

  <div class="category-section">
    {% for paper in category.papers %}
    <div class="item">
      {% if paper.link %}
        {% if paper.link contains "http://" or paper.link contains "https://" %}
        <a href="{{ paper.link }}" target="_blank">{{ paper.title }}</a>
        {% else %}
        <a href="{{ site.baseurl }}/assets/{{ paper.link }}" target="_blank">{{ paper.title }}</a>
        {% endif %}
      {% else %}
        {{ paper.title }}
      {% endif %}

      {% if paper.authors %}
      <div class="publication-authors">{{ paper.authors }}</div>
      {% endif %}

      <div class="publication-conference">{{ paper.conference }}</div>

      {% if paper.docs %}
        <ul class="publication-docs">
        {% for sublink in paper.docs %}
          <li>
            {% if sublink.link contains "http://" or sublink.link contains "https://" %}
              <a href="{{ sublink.link }}" target="_blank">{{ sublink.title }}</a>
            {% else %}
              {% if sublink.link contains ".jpg" or sublink.link contains ".png" %}
                <a class="lightbox-link" onclick="imgLightbox.open('{{ site.baseurl }}/assets/{{ sublink.link }}', {download: true, externalOpen: true});">{{ sublink.title }}</a>
              {% else %}
                <a href="{{ site.baseurl }}/assets/{{ sublink.link }}" target="_blank">{{ sublink.title }}</a>
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </div><!--//item-->
    {% endfor %}
  </div>
  {% endfor %}

</section><!--//section-->
{% endif %}
