<script src="{{.Site.BaseURL}}js/jquery.min.js"></script>
<script src="{{.Site.BaseURL}}js/popper.min.js"></script>
<script src="{{.Site.BaseURL}}js/bootstrap-material-design.min.js"></script>
<script src="{{.Site.BaseURL}}js/nouislider.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="{{.Site.BaseURL}}js/material-kit.min.js?v=2.0.7"></script>
<script src="{{.Site.BaseURL}}js/site.js"></script>

<footer class="text-center text-muted py-4">
    &copy; Copyright {{ (time .Page.Lastmod).Year }} Miyako Jones. Last updated: {{ .Page.Lastmod.Format "January 2, 2006" }}.
</footer>