{{ $education := .Site.Data.sidebar.education.list }}

<div id="education" class="mb-4">
    <h3 class="block-title">Education</h3>

    <ul class="unstyled-list">
        {{ range $degree := $education }}
            <li>
                <span class="d-block mb-0">{{.degree.name}}</span>
                <span class="d-block"><strong>School:</strong> {{.degree.school}}</span>
                <span class="d-block"><strong>GPA:</strong> {{.degree.gpa}}</span>
                <span class="d-block"><strong>Graduation:</strong> {{.degree.date}}</span>

                {{ with .degree.details }}
                    <ul class="bulleted-list mb-3">
                    {{ range . }}
                        {{ if isset .item "link" }}
                            <li><a href="{{ .item.link }}" target="_blank">{{ .item.title }}</a></li>
                        {{ else }}
                            <li>{{ .item.title }}</li>
                        {{ end }}
                    {{ end }}
                    </ul>
                {{ end }}
            </li>
        {{ end }}
    </ul>
</div>