{{ $profile := .Site.Data.sidebar.profile }}

<div id="profile" class="py-2 px-3">
    <img class="avatar mx-auto" src="{{ .Site.BaseURL }}images/{{ $profile.avatar }}" alt="profile picture" />

    <h2 class="name text-center">{{ $profile.name }}</h2>
    <h6 class="tagline text-center mb-3">{{ $profile.tagline }}</h6>
    <p class="pronouns"><strong>Pronouns:</strong> {{ $profile.pronouns }}</p>
    <p class="personality mb-4"><strong>Personality:</strong> {{ $profile.personality }}</p>

    <div id="resume-links" class="text-center">
      {{ partial "sidebar/resume_links.html" . }}
    </div>

    <div id="cv-links" class="text-center mb-4">
      {{ partial "sidebar/cv_links.html" . }}
    </div>
</div>