---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>

  <div id="imgLightbox" onclick="imgLightbox.close();">
    <div id="imgLightbox-button-area">
      <a title="open externally and close" id="imgLightbox-button-external">
        <span class="imgLightbox-button"><i class="fas fa-arrows-alt"></i></span>
      </a>
      <a title="download and close" id="imgLightbox-button-download">
        <span class="imgLightbox-button"><i class="fas fa-arrow-alt-circle-down"></i></span>
      </a>
      <span title="close" class="imgLightbox-button" onclick="imgLightbox.close();"><i class="fas fa-times-circle"></i></span>
    </div>

    <div id="imgLightbox-image-area"></div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>

